#root {
    background-color: #2B3042;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
  
ul.navbar-nav .nav-link.active{
    color:#591D0F;
}

ul.navbar-nav .nav-link{
    color: black;
}